<!-- chat.component.html -->
<div class="chat-container">
  <!-- Liste des utilisateurs en ligne -->
  <div class="users-list">
    <h3>Utilisateurs Connectés</h3>
    <ul>
      <li *ngFor="let user of users" (click)="selectUser(user)">
        {{ user.username }}
      </li>
    </ul>
  </div>

  <!-- Pop-up de chat privé -->
  <div *ngIf="showChatPopup" class="chat-popup">
    <h4>Chat avec {{ selectedUser?.username }}</h4>
    
    <!-- Liste des messages privés -->
    <!-- chat.component.html -->
    <div class="private-messages">
      <div *ngFor="let privateMessage of privateMessages"
          [ngClass]="{'sent-message': privateMessage.senderId === currentUserId, 'received-message': privateMessage.senderId !== currentUserId}"
          class="private-message">
        <p><strong>{{ privateMessage.senderId === currentUserId ? 'Vous' : selectedUser?.username }}:</strong> {{ privateMessage.content }}</p>
        <span class="timestamp">{{ privateMessage.timestamp | date: 'short' }}</span>
      </div>
    </div>

    
    <!-- Zone d'envoi de message -->
    <div class="message-input">
      <input [(ngModel)]="privateMessage" placeholder="Tapez votre message ici..." />
      <button (click)="sendPrivateMessage()">Envoyer</button>
    </div>

    <button (click)="closeChatPopup()">Fermer</button>
  </div>
</div>
